---
import Heading from "../Heading.astro";
import Role from "../Role.astro";
---

<div id="experience">
  <Heading content="Experience" />
  <Role
    title="Software I/II TA"
    location="Columbus, OH"
    descOne="Assist 40+ students in Java software development labs and hold weekly office hours to provide additional support"
    descTwo="Offer detailed feedback on student homework and projects, emphasizing adherence to best programming practices"
    descThree="Communicate with instructor and fellow graders to coordinate responsibilities"
  />
</div>

<style>
  #experience {
    padding: var(--section-padding);
  }
  
</style>
