---
import Role from "./Role.astro";
---

<div id="experience">
  <Role
    title="Software I/II TA"
    descOne="Assist 40+ students in Java software development labs and hold weekly office hours"
    descTwo="Provide concrete feedback on student homework and projects based on best programming practices"
    descThree="Communicate with instructor and fellow graders to coordinate responsibilities"
  />
</div>
