---
interface Props {
  title: string;
  body: string;
  href: string;
  tools: string;
}

const { href, title, body, tools } = Astro.props;

const hasLink = href.length > 0;
---

<div class="link-card">
  <a href={href}>
    <h2>
      {title} {hasLink && <span class="arrow">&nearr;</span>}
    </h2>
    <p>
      {body}
    </p>
    <p class="tools">{tools}</p>
  </a>
</div>

<style>
  .link-card {
    display: flex;
    flex-direction: column;
    background-color: #23262d;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .link-card > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: #23262d;
    transition: background-color 0.3s;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.6;
  }

  .tools {
    font-size: 0.9rem;
    font-style: italic;
    color: #a5a5a5;
  }

  .link-card:hover,
  .link-card:focus-within {
    background-color: #2c3038;
  }

  .link-card:hover h2,
  .link-card:focus-within h2 {
    color: #b481e4;
  }

  .arrow {
    font-size: 1rem;
    color: #b481e4;
    transition: transform 0.3s, color 0.3s;
  }

  .link-card:hover .arrow,
  .link-card:focus-within .arrow {
    transform: translateX(5px);
    color: #e2c1ff;
  }
</style>
